@using Pizza_Data;

@{
    ViewData["Title"] = "Options";
}


<!DOCTYPE html>
<html>
<body>
    <h4>Please select an option</h4>
    <hr />
    <br />

    @if (ViewBag.Message != null)
{
    @ViewBag.Message;
}
    <br />
    <br />

    <input type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href = '@Url.Action("Order", "Order")' " value="Order Pizza" />
    <hr />
    <input type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href = '@Url.Action("UserRecords", "Records")' " value="View Order History" />
    <hr />
    <input type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href = '@Url.Action("Location", "Location")' " value="Select Another Location" />
    <hr />
    <input type="button" onclick="location.href = '@Url.Action("Index", "Home")' " value="Sign Out" />




</body>
</html>